# Main Script 
Main_scrpit_pip



# Code from others
MATLAB (https://www.mathworks.com/products/matlab.html)
FSL (https://fsl.fmrib.ox.ac.uk/fsl/fslwiki)
dicm2nii (https://www.mathworks.com/matlabcentral/fileexchange/42997-xiangruili-dicm2nii)
FSLNets (https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FSLNets)
ROBEX (https://www.nitrc.org/projects/robex)
spm12 (https://www.fil.ion.ucl.ac.uk/spm/software/download/)
BCT (https://sites.google.com/site/bctnet/)
ICA-AROMA-master (https://github.com/maartenmennes/ICA-AROMA)
NIfTI_20140122 (https://www.mathworks.com/matlabcentral/fileexchange/8797-tools-for-nifti-and-analyze-image)
LINDA_v0.2.7(https://github.com/dorianps/LINDA/releases)
ANTs (http://stnava.github.io/ANTs/)
wb_gppi (https://www.ncbi.nlm.nih.gov/pubmed/24753083)
BrainNet-Viewer (https://github.com/mingruixia/BrainNet-Viewer)


# Preprocess files 
preproc_ana_fmri
registartion_a2_stroke_control
feat_hemoR_nohemoR
save_nii_header

#connectivity files
SPM_files_PPI


# Local Connectiivy files
 correlatin_within_ROI_a2

#Global Connectiviy files 
cluster_node_ori_data_concat_a2


#topology Files 
BCT_func
conection_distance



#Statistics files 
nets_glm_grp
fslNets_pro_a2
sig_corr_task


#correlation to significat files 
clinicalmeasures_a2



